$primary: rgb(111,220,151);
$background-color:  rgb(252, 248, 250);
// $background-color: black;
$background: pink;
$text: rgb(82, 82, 82);
$heading-text: $text;
$accent-text: pink;
$link: $primary;
$hoverLink: $text;
// useful for random colour on compile? https: //bulma.io/documentation/utilities/functions/

@use 'sass:math';
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
@import "~bulma/bulma.sass";

@font-face {
    font-family: 'Junicode';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/Junicode-BoldItalic.ttf) format("ttf");
}

// // Assign font

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:300,500,700');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/hakuna-sans');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif:  'PT Serif',
//  serif;

$font-family: BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-heading: "Rubik", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$serif-family: "Junicode" ;

body{
    font-family: $font-family;
}

::selection {
    background: $primary;
    color: $background-color;
    text-shadow: none;
}

.listedEntry .customSubheading::before {
    content: '↹';
}
.customSubheading{
    font-family: $serif-family;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.08em;

}
// issue, markdown headings not matching colour
.content, .notMarkdown{
    // set base size
        
    font-size: 12px;

    @include tablet {
        font-size: 18px;
    }

    @include desktop {
        font-size: 20px;
    }

    color: $text;

    strong{
        color: pink;
    }
        font-size: 17px;
        line-height: 38px;
        font-weight: 300;
    
        body,
        .article {
            // font-family: sans-serif;
            font-size: 1em;
            line-height: 1.27777778em;
            max-width: 560px;
            margin: auto;
            
        }

        


        h1,h2,h3,h4,h5{
            @extend .regularHeading;
        }
    
        h1,
        .h1 {
            font-size: 4.22222222em;
            line-height: 1.21052632em;
            margin-top: 0.30263158em;
            margin-bottom: 0.30526316em;
            padding-bottom: 0 !important;
        }
    
        h2,
        .h2 {
            font-size: 2.61111111em;
            // line-height: 1.46808511em;
            margin-top: 0em;
            margin-bottom:0em;
            padding-bottom: 0.5;
            // margin-bottom: 0.4893617em;
        }
    
        h3,
        .h3 {
            // font-size: 1.61111111em;
            font-size:1.81em;
            line-height: 1.5862069em;
            margin-top: 0.69310345em;
            margin-bottom: 0em;
        }
    
        h4,
        .h4 {
            font-size: 1em;
            line-height: 1.27777778em;
            margin-top: 0.47777778em;
            margin-bottom: 0em;
        }
    
        h5,
        .h5 {
            font-size: 1em;
            line-height: 1.27777778em;
            margin-top: 1.27777778em;
            margin-bottom: 0em;
        }
    
        p,
        ul,
        ol,
        pre,
        table,
        blockquote {
            // margin-top: 0em;
            
        }

        ul, ol{
            margin-top: 0em;
            margin-bottom: 2.7777778em !important;
        }
    
        ul ul,
        ol ol,
        ul ol,
        ol ul {
            margin-top: 0em;
            
        }

        ul{
            // margin: 0;
            margin-block-start: 0em !important;
            margin-bottom: 0em;
            padding: 0;
        }
    
        /* Let's make sure all's aligned */
        hr,
        .hr {
            border: 1px solid;
            margin: -1px 0;
        }
    
        a,
        b,
        i,
        strong,
        em,
        small,
        code {
            line-height: 0;
        }
    
        sub,
        sup {
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }
    
        sup {
            top: -0.5em;
        }
    
        sub {
            bottom: -0.25em;
        }

        

}

figure{
    @extend .is-image !optional; 
    @extend .mx-0;
    @extend .my-0;
    @extend .py-4;

    p{
        @extend .my-1;
    }

    figcaption{
        @extend .my-0;
        @extend .pt-0;
        @extend .pb-3;
    }   
}


// nav{
//     @extend .mx-3;
// }


figure {
    > div {
        @extend .tile;
        @extend .is-ancestor;
        >div {
            @extend .tile;
            @extend .is-child;
        }
    }
}

figcaption, .footnotes {
    // background-color: yellow;
    text-align: left;
    font-style: normal !important;
    font-weight: bold;
    font-size: 0.6em;
}

figcaption{
    line-height: 1.2em;
}

.footnotes{
    line-height: 3em;
}

.content figure figcaption{
    font-style: normal !important;
}

.is-garden{
    @media screen and (min-width: $desktop) {
        transform: translate(5%, -7%);
    }
}

html,
body {
    height: 100vh;
    background-color: $background-color;
}

.is-background-color{
    background-color: $background-color;
}

a:hover {
    img{
        
    }
}

.listedEntry{

    $font-size: 2.2em;
    font-size: $font-size;
    

    // might need to readjust
    line-height: 0.8;

    font-weight: 500;
    font-stretch: semi-expanded;
    letter-spacing: -0.05em;
    img{
        border-radius: 10%;
        height: calc($font-size/2.6) !important;
        }
        
    .placeholderListImage {
        width: calc($font-size/2.5) !important;
    }

}

.listImage{
    line-height: 0.7;
}

// maybe pin this on desktop
nav{
    margin-top: 100px;
    @media only screen and (max-width : $desktop) {
            margin-top: 0px;
        }
}

.pageContent{
    margin-top: 80px;
    @media only screen and (max-width : $desktop) {
            margin-top: 0px;
        }
}

.logo{
    font-size: 1em;
    font-weight: bold;
}


.bigTitle {
    font-size: 8.5em;
    font-family: 'Hakuna Sans', sans-serif;
    line-height: 0.8;

    
}

.sound {
    letter-spacing: 0.03em;
    font-stretch: expanded;
}

.research{
    font-stretch: condensed;
    letter-spacing: -0.04em;
}

// .smaller {
//     font-size: 5em;
// }

.smaller {
    font-size: 4.22222222em;
    letter-spacing: -0.05em;
    // font-stretch: normal;
    font-stretch: semi-expanded;
    // background: $primary;
    // color: $background-color;
    // text-shadow: none;

    // font-size: 4.22222222em;
    // line-height: 1.21052632em;
    //     // margin-top: 0.30263158em;
    //     // margin-bottom: 0.60526316em;
    @extend .regularHeading;

    .customSubheading {

        font-size: 0.9em;
        font-weight: 400;
        line-height: -2.46808511em;
        margin-top: 0;
        margin-bottom: 0;
    }

    // font-size: 5em;
    // text-shadow: 0 0 6px $primary;
}

$blurAmount: 0.05em;
.bigTitle{
    
    @media only screen and (max-width : $desktop) {
            margin-top: 0px;
        }

    @media only screen and (max-width : $tablet) {
        margin-top: 0px;
    }
 
    
    @extend .highContrastBlur;
    // overflow: hidden; //stops surrounding links from getting screwed up by the svg effects
    padding: 0.9rem 0.4rem;
        //  @extend .liquidMetal;
    // background-color: blue;
    // overflow-x: visible;
   



}

.bigTitle:hover{
    $dropBlur: math.div($blurAmount, 100);
    filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $hoverLink);
    -webkit-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $hoverLink);
    -moz-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $hoverLink);
    -o-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $hoverLink);
    -ms-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $hoverLink);
    // overflow-x: visible;
}



/* define filters, then mixin or extend... */
.highContrastBlur {
    $dropBlur: math.div($blurAmount,100);
    filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $primary);
    -webkit-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $primary);
    -moz-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $primary);
    -o-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $primary);
    -ms-filter: blur($blurAmount) drop-shadow(0 0 $dropBlur $primary);
}

.liquidMetal{
    filter: url(#liquidFilter) url(#highContrastFilter) ;
}

.SVGFilterStore{
    position: absolute;
    visibility: hidden;
}

.regularHeading{
    letter-spacing: -0.05em;
    // color: red;
    font-weight: 700;
    color: $heading-text;
    font-stretch: semi-expanded;
    line-height: 0.8;
    padding-bottom: 0.41052632em ;
    
}



@media only screen and (max-width : $tablet) {
    .bigTitle {
            font-size: 6.6em;
                }

        .smaller {
            font-size: 4em;
        }
        
    .listedEntry{
        $font-size: 2em;
        font-size: $font-size;
        font-stretch: normal;
        img {
                border-radius: 10%;
                height: calc($font-size/2.6) !important;
            }
        
    }
}

.background {
    z-index: 0 !important;
        // mix-blend-mode: screen;



    // position: absolute !important;
    // top: 50% !important;
    // left: 50% !important;
    // transform: translate(-50%, -50%) !important;
    

    // .garden{
    //     mix-blend-mode: hard-light;
    //     z-index: 3 !important;
    // }

        // ::before {
        //     background-color: $light;
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     mix-blend-mode: overlay;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index:1
        // }
    
        // ::after {
        //     background-color: pink;
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     mix-blend-mode: color-burn;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //         z-index: 1
        // }

    
}

// Make sure that page takes up whole vertical space
#gatsby-focus-wrapper {
    // padding-top: 3.5rem; // Add padding to make sure navbar does not cover content
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Make sure main content is not wider than page
main.container {
    max-width: 100%;
    width: 100%;
    // mix-blend-mode: difference;
}

.blog-card-text {
    position: relative;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Table Cards
.table-card {
    margin-top: 0;
}

.table-card .gatsby-image-wrapper {
    width: 128px;
    height: 128px;
}

// Make sure that the white gap between navbar and hero is never visible (even when scrolling up)
section.hero::before {
    background-color: $primary;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

// Parallelogram headers
.parallelogram {
    padding: 0.5rem 3rem;
    // width: 80%;
    display: inline-block;
    // background: white;
    transform: skewX(-14deg);

    * {
        transform: skewX(14deg);
    }
}

.aboutText {
    padding: 30px 0 0 0;
    text-align: justify;
    text-justify: inter-character;
    // font-size: 1.5vw;
    width: 90%;
}
  
.section {
    padding: 3rem 3rem 3rem 3em;
}



.secondary {
    @extend .section;

    background-color: $grey;

}

.card-content {
    vertical-align: bottom;
    width: 100%;
}

.lowerPadding {
    padding: 0 0 2vw 0;
}

.newsContainer {
    width: 100%;
    margin-bottom: 2vw;
}
